<div class="container">
    <highcharts-chart class="two" [Highcharts]="Highcharts" [options]="chartOptions1"
        style="width: 500px; height: 300px;">
    </highcharts-chart>
    <br>
    <highcharts-chart class="one" [Highcharts]="Highcharts" [options]="chartOptions2"
        style="width: 400px; height: 300px;">
    </highcharts-chart>
</div>
<div>
    <br>
    <div class="container2">
        <highcharts-chart class="three" [Highcharts]="Highcharts" [options]="chartOptions3" style="width: 310px; height: 300px; ">
        </highcharts-chart>
        <highcharts-chart class="four" [Highcharts]="Highcharts" [options]="chartOptions4" style="width: 400px; height: 300px; ">
        </highcharts-chart>
    </div>
</div>